<!-- header.component.html -->
<div class="header-container">
    <div class="header-left">
      <!-- Logo -->
      <img src="logo.png" alt="Logo" class="logo">
    </div>
  
    <div class="header-right">
      <!-- SMS: 18 section -->
      <div class="sms-dropdown">
        <span style="font-family: arial;">SMS: 18</span>
        <fa-icon [icon]="faChevronDown"></fa-icon> 
      </div>
  
      <div class="divider">|</div>
  
      <!-- User section -->
      <div class="user-section">
        <span style="font-family: arial;">Welcome Josphine</span>
        <fa-icon style="padding-right: 15px; padding-left: 10px;" [icon]="faUser"></fa-icon> 
        <fa-icon [icon]="faChevronDown"></fa-icon> 
      </div>
    </div>
  </div>
  