<div class="sidebar-wrapper">
  <div class="menu-toggle" (click)="toggleSidebar()">
    <span *ngIf="!isSidebarOpen">&#9776;</span>
    <span *ngIf="isSidebarOpen">&times;</span>
  </div>

  <div class="sidebar-container" [class.active]="isSidebarOpen">
    <nav class="sidebar">
      <ul>

        <li style="list-style: none; display: flex; align-items: center;">
          <fa-icon [icon]="faDashboard" style="margin-right: 8px;"></fa-icon>
          <a href="#">Dashboard</a>
        </li>

        
        <li style="list-style: none;">
          <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;"
            (click)="toggleOrdersSubmenu()">
            
            <div style="display: flex; align-items: center;">
              <fa-icon [icon]="faBoxOpen" style="margin-right: 8px;"></fa-icon>
              <a href="#">Orders & Quotes</a>
            </div>

            
            <fa-icon [icon]="isOrdersSubmenuOpen ? faChevronUp : faChevronDown" style="margin-left: auto;"></fa-icon>
          </div>

          
          <ul class="submenu" *ngIf="isOrdersSubmenuOpen" style="list-style: none; padding-left: 20px;">
            <li><a href="#">All</a></li>
            <li><a href="#">Event types</a></li>
            <li><a href="#">Extras/add-ons</a></li>
          </ul>
        </li>

        
        <li style="list-style: none;">
          <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;"
            (click)="toggleSubmenu()">
            
            <div style="display: flex; align-items: center;">
              <fa-icon [icon]="faTags" style="margin-right: 8px;"></fa-icon>
              <a href="#">Products</a>
            </div>

            
            <fa-icon [icon]="isSubmenuOpen ? faChevronUp : faChevronDown" style="margin-left: auto;"></fa-icon>
          </div>

          
          <ul class="submenu" *ngIf="isSubmenuOpen" style="list-style: none; padding-left: 20px;">
            <li><a href="#">All</a></li>
            <li><a href="#">Categories</a></li>
          </ul>
        </li>



        <li style="list-style: none;">
          <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;"
            (click)="toggleCostingSubmenu()">
            
            <div style="display: flex; align-items: center;">
              <fa-icon [icon]="faReceipt" style="margin-right: 8px;"></fa-icon>
              <a href="#">Costing</a>
            </div>

            
            <fa-icon [icon]="isCostingSubmenuOpen ? faChevronUp : faChevronDown" style="margin-left: auto;"></fa-icon>
          </div>

          
          <ul class="submenu" *ngIf="isCostingSubmenuOpen" style="list-style: none; padding-left: 20px;">
            <li><a href="#">Cost Calculator</a></li>
            <li><a href="#">Ingredients & Supplies</a></li>
          </ul>
        </li>


        
        <li style="list-style: none; display: flex; align-items: center;">
          <fa-icon [icon]="faShoppingCart" style="margin-right: 8px;"></fa-icon>
          <a href="#">Shopping list</a>
        </li>

        <li style="list-style: none;">
          <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;"
            (click)="toggleExpensesSubmenu()">
            
            <div style="display: flex; align-items: center;">
              <fa-icon [icon]="faReceipt" style="margin-right: 8px;"></fa-icon>
              <a href="#">Expenses</a>
            </div>

            
            <fa-icon [icon]="isExpensesSubmenuOpen ? faChevronUp : faChevronDown" style="margin-left: auto;"></fa-icon>
          </div>

          
          <ul class="submenu" *ngIf="isExpensesSubmenuOpen" style="list-style: none; padding-left: 20px;">
            <li><a href="#">All</a></li>
            <li><a href="#">Summary</a></li>
            <li><a href="#">Categories</a></li>
          </ul>
        </li>


        
        <li style="list-style: none; display: flex; align-items: center;">
          <fa-icon [icon]="faUsers" style="margin-right: 8px;"></fa-icon>
          <a href="#">Customers</a>
        </li>

        <li style="list-style: none;">
          <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;"
            (click)="toggleEmployeesSubmenu()">
            
            <div style="display: flex; align-items: center;">
              <fa-icon [icon]="faUserTie" style="margin-right: 8px;"></fa-icon>
              <a href="#">Employees</a>
            </div>

           
            <fa-icon [icon]="isEmployeesSubmenuOpen ? faChevronUp : faChevronDown" style="margin-left: auto;"></fa-icon>
          </div>

          
          <ul class="submenu" *ngIf="isEmployeesSubmenuOpen" style="list-style: none; padding-left: 20px;">
            <li><a href="#">All</a></li>
            <li><a href="#">Roles</a></li>
          </ul>
        </li>


        <li style="list-style: none; display: flex; align-items: center;">
          <fa-icon [icon]="faPaintBrush" style="margin-right: 8px;"></fa-icon>
          <a href="#">Online store design</a>
        </li>

        
        <li style="list-style: none; display: flex; align-items: center;">
          <fa-icon [icon]="faChartLine" style="margin-right: 8px;"></fa-icon>
          <a href="#">Reports</a>
        </li>

        
        <li style="list-style: none; display: flex; align-items: center;">
          <fa-icon [icon]="faCog" style="margin-right: 8px;"></fa-icon>
          <a href="#">Settings</a>
        </li>

        
        <li style="list-style: none;">
          <div style="display: flex; align-items: center; justify-content: space-between; cursor: pointer;"
            (click)="toggleReferEarnSubmenu()">
            
            <div style="display: flex; align-items: center;">
              <fa-icon [icon]="faGift" style="margin-right: 8px;"></fa-icon>
              <a href="#">Refer & earn</a>
            </div>

            
            <fa-icon [icon]="isReferEarnSubmenuOpen ? faChevronUp : faChevronDown" style="margin-left: auto;"></fa-icon>
          </div>

          
          <ul class="submenu" *ngIf="isReferEarnSubmenuOpen" style="list-style: none; padding-left: 20px;">
            <li><a href="#">Referral link</a></li>
            <li><a href="#">Referrals</a></li>
          </ul>
        </li>


      </ul>
    </nav>
  </div>
</div>